{% extends 'base.html' %}
{% block content %}
<div class="card mb-3">
  <img style="width: 500px; height:auto;" src="{{ product.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <p class="card-text"><small>{{ product.status }}</small></p>
    <p class="card-text">{{ product.price }} coм</p>
    <a class="btn btn-warning" href="{% url 'product-update' product.id %}" role="button">Update</a>
    <a class="btn btn-danger" href="{% url 'product-delete' product.id %}" role="button">Delete</a>


  </div>
</div>
{% endblock %}